.form-container {
    width: 350px;
    margin: 80px auto;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 8px;
}

.success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}