.container {
  width: 350px;
  margin: 80px auto;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.accordion-content {
  padding: 10px;
  background: #f9f9f9;
}