.container {
  width: 350px;
  margin: 80px auto;
}

.tab-buttons button {
  padding: 8px 12px;
  margin-right: 5px;
}

.tab-buttons .active {
  background-color: #333;
  color: white;
}

.tab-content {
  margin-top: 15px;
}